hyperion/_version.py
hyperion/data/*
build
docs/_build
*.pyc
*.o
*.mod
Makefile
bin/*
config.log
config.status
htmlcov
*.rtin
*.rtout
build_cmake
.vscode
dist
Hyperion.egg-info
*.so
pip-wheel-metadata
