language: python

python:
    - 2.6
    - 2.7
    - 3.2
    # 3.3 cannot yet be tested due to incompatibility with h5py

env:
    # try all python versions with the latest stable Numpy
    - NUMPY_VERSION=1.7.1 SETUP_CMD='test'

matrix:
    include:
        # try alternate Numpy versions
        - python: 2.7
          env: NUMPY_VERSION=1.6.2 SETUP_CMD='test'
        - python: 2.7
          env: NUMPY_VERSION=1.5.1 SETUP_CMD='test'
        - python: 3.2
          env: NUMPY_VERSION=1.6.2 SETUP_CMD='test'

before_install:
   - sudo apt-get update -qq
   - sudo apt-get install -qq python-numpy
   - sudo apt-get install -qq libhdf5-serial-1.8.4 libhdf5-serial-dev
   - sudo apt-get install -qq gfortran-4.6
   - sudo apt-get install -qq mpich2

install:
   - export PYTHONIOENCODING=UTF8 # just in case
   - pip -q install --upgrade "numpy==$NUMPY_VERSION" --use-mirrors
   - pip -q install h5py
   - pip -q install astropy

script:
   - cd deps/fortran ; sudo python install.py --fc-compiler=/usr/bin/gfortran-4.6 /usr/hyperion ; cd ../../
   - PATH=/usr/hyperion/bin:$PATH ./configure
   - PATH=/usr/hyperion/bin:$PATH make serial
   - sudo make install
   - python setup.py install  # to get the hyperion script installed
   - python setup.py $SETUP_CMD
